/*General styles*/

* {
  margin: 0 auto;
  font-family: BryantBoldAlt;
  outline: none;
  box-sizing: border-box;
}

body {
  width: 100%; /*100vw*/
  overflow-x: hidden;
}

/* Links styles <a></a> */

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

/* buttons styles*/

.btn {
  padding: 10px 16px !important;
  -webkit-box-shadow: 0px 2px 35px 8px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 2px 35px 8px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 35px 8px rgba(0, 0, 0, 0.25);
  border: none;
}

.success{
  background: green;
  color:white;
  padding: 10px;
  text-align: center;
}

.success{
  background: #5aa169;
  width: auto;
  position: relative;
  border-radius: 5px;
  color: #fff;
  padding: 3px 3px;
  }

  .error {
    width: auto;
    position: relative;
    border-radius: 5px;
    color: #bd3226;
    margin-top: -15px;
  }
  .error ul{
  padding: 3px 19px;
  margin-left:-2%;
  }
  .error ul li {
  font-size: 13px;
  display: block;
  }

.DashboardBtn {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.btn--round {
  border-radius: 50px;
}

.btn--bgcolor {
  background: #9b9b9b;
  color: #ffffff;
}

.btn--bgcolor-red {
  background: red;
  font-size: 15px;
  margin-top: -5px;
  color: #ffffff;
}

.btn--50px {
  height: 50px;
  font-size: 1.8rem;
}

.btn--block {
  display: block;
  width: 100%;
  border-radius:5px;
}

/* fonts */

.font--normal {
  font-family: BryantBoldAlt;
}

.font--medium {
  font-family: BryantMedium;
}

.font--regular {
  font-family: BryantRegular;
}

/*  COLORS */

.text--primary {
  color: #357dc5;
}

.text--secondary {
  color: #357dc5;
}

.text--color--grey {
  color: #828282;
}

.text--color--white {
  color: #ffffff;
}

.bg--color--primary {
  background-color: #357dc5;
  color: #ffffff;
}

.bg--color--grey {
  background-color: rgba(53, 125, 197, 0.91);
  color: #ffffff;
}

.bg--color--white {
  background-color: #ffffff;
}

.light--shadow {
  -webkit-box-shadow: 0 1px 15px 1px rgba(113, 106, 202, 0.08);
  -moz-box-shadow: 0 1px 15px 1px rgba(113, 106, 202, 0.08);
  box-shadow: 0 1px 15px 1px rgba(113, 106, 202, 0.08);
}

.gradient {
  background-image: linear-gradient( to left, #221f25 0%, rgba(53, 125, 197, 0.91) 99%, #357dc5 100%);
}


.vertical--center {
  display: inherit;
  align-items: center;
}

.bd--right--1 {
  border-right: 1px solid #ebedf2;
}

.text--center {
  text-align: center;
}

.text--right {
  text-align: right;
}

.margin--10 {
  margin: 10px 0;
}

.margin--top--100 {
  margin-top: 100px;
}

.margin--top--10 {
  margin-top: 10px;
}
.margin--top--10--crtLoan {
  margin-top: 10px;
}

.p--0 {
  padding: 0;
}

/* scrollbar  */

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}

*::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.08);
}

.CreateAccount.padding--bottom--210 {
  padding-bottom: 209px;
}

.divider--half {
  width: 50%;
}

.divider--three {
  width: calc(100% / 3);
}

.navbar {
  border-radius: 0;
  background: transparent;
  border-bottom: 0;
  margin-bottom: 0;
  display: flex;
}

.navbar-header,
.navbar .navbar__nav>li {
  font-family: BryantBoldAlt;
  padding: 35px 20px;
}

/* .navbar-header, */

.navbar__nav {
  display: flex;
  list-style: none;
}

#detailsLink1{
  margin-left:710px;
  margin-top:30px;
}

#detailsLink2{
  margin-top:30px;
}

nav .navbar__nav>li>a {
  padding: 0;
  font-size: 18px;
  color: #f2f2f2;
  font-family: BryantMedium;
  font-size: 18px;
}



.navbar__header {
  height: 90px;
  display: flex;
  align-items: center;
}

.navbar__header>a.navbar__brand {
  font-size: 25px;
  color: #f2f2f2;
}

.navbar__brand img {
  height: 60px;
}


/* Header  */

.header__main {
   background-image:url("../images/money.jpg");
   background-size:cover;
  background-position: right 0 top 0;
  background-repeat: no-repeat;
  height: 700px;
}

.header__main__about{
  background-image:url("../images/money.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  height: 700px;
}

.header {
  padding: 100px 0;
}

.header__title,
.header__content {
  color: #ffffff;
  padding: 0 16px;
  text-align: center;
  text-transform: capitalize;
}

.header__title {
  font-family: BryantBoldAlt;
  font-size: 60px;
  line-height: 62px;
}

.header__content {
  font-family: BryantMedium;
  font-size: 19px;
  line-height: 31px;
  margin: 0 0 24px 0;
  letter-spacing: 3px;
}

.header__apply {
  text-align: center;
  font-size: 20px;
}

/* How it works */

.how__title,
.CreateAccount__title {
  font-family: BryantBoldAlt;
  font-style: regular;
  font-size: 32px;
  line-height: 38px;
}

.how-it-works,
.CreateAccount {
  padding: 100px 0;
  background-color: rgba(235, 216, 235, 0.3);
}

.how__headline,
.CreateAccount__headline {
  font-family: BryantBoldAlt;
  font-size: 18px;
  line-height: 25px;
  color: #9b9b9b;
  text-align: center;
  margin-bottom: 6px;
}

.how__content {
  display: flex;
  width: 880px;
}

/* reusable selectors */

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}

.loan {
  background-color: #2BC0E4;
  background-size: 100%;
}


.container-fluid {
  padding-right: 9rem;
  padding-left: 9rem;
}

.container-fluid ul{
  display: flex;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.card__header,
.card {
  -webkit-box-shadow: 0px 4px 20px 0px rgba(196, 196, 196, 0.5);
  -moz-box-shadow: 0px 4px 20px 0px rgba(196, 196, 196, 0.5);
  box-shadow: 0px 4px 20px 0px rgba(196, 196, 196, 0.5);
}

.card {
  width: 264px;
  background-color: #ffffff;
}

.card__header {
  height: 132px;
  background-image: linear-gradient( to left, #221f25 0%, rgba(53, 125, 197, 0.91) 99%, #357dc5 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.card__content {
  padding: 19px;
  /* background-color: #ffffff; */
}

.card--content__title {
  font-size: 18px;
  line-height: 21px;
  padding-bottom: 16px;
  text-align: center;
}

.card--content__body {
  font-size: 14px;
  text-align: center;
  color: #9b9b9b;
  padding-bottom: 42px;
}

.card {
  background: #ffffffd9;
  width: 90%;
  margin: 40px;
}
.card-header {
  background:#2BC0E4;
  color: #ffffff;
  padding: 30px;
  cursor: pointer;
  text-align: right;
}
.card-header a {
  padding: 0 10px;
  color: #ffffff;
}

.amount{
  text-align:center;
}

.amount--input{
  margin-top:10px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th,
td {
  text-align: center;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.text-center {
  color: #ffffff;
  text-align: center;
  font-size: 40px;
  padding: 0;
}

.view-detail {
  border-radius: 10px;
  background: #357dc5;
  color:white;
  border:none;
  padding:10px;
}

/* Highlights on the benefits */

/* why us section */

.benefits {
  padding: 50px 70px 0 70px;
 background-color: rgba(235, 216, 235, 0.3);
}

.about {
  padding: 120px 70px 0 70px;
  background-image:linear-gradient( to left, #221f25 0%, rgba(53, 125, 197, 0.91) 99%, #357dc5 100%);
}

.benefits h3{
   color: #9b9b9b;
}


.benefits__title {
  font-family: BryantBoldAlt;
  font-style: regular;
  font-size: 32px;
   color: #9b9b9b;
  line-height: 38px;
  margin-bottom: 15px;
}

.about__title {
  font-family: BryantBoldAlt;
  font-style: regular;
  font-size: 32px;
  color:#f2f2f2;
  line-height: 38px;
  margin-bottom: 15px;
}

.thumbnail {
  margin-top:50px;
  margin-bottom: 80px;
  text-align: center;
}


.caption__title {
  font-family: BryantBoldAlt;
  font-size: 20px;
  line-height: 23px;
  margin: 24px 0 16px 0;

}

.caption__text {
  font-family: BryantMedium;
  font-size: 16px;
  line-height: 23px;
  width: 296px;
  margin: 0 auto;
  color: #9b9b9b;
}

.contact {
  padding: 60px 0 0 0;
}

.contact__form,
.CreateAccount__form {
  padding: 0 188px;
}

.contact__title {
  text-align: center;
}

.contact__headline {
  font-size: 1.6rem;
  line-height: 1.9rem;
}

.contact__title {
  font-size: 28px;
  line-height: 33px;
  padding: 16px 0 50px 0;
}

.contact__form>form,
.CreateAccount__form>form {
  width: 70%;
}

.input--group {
  height: 50px;
  background-color: #ffffff;
  border-radius: 3px;
  display: flex;
}
.input--group--signin {
  height: 50px;
  background-color: #ffffff;
  border-radius: 3px;
  display: flex;
}

.form--control {
  font-size: 14px;
  width: 100%;
  line-height: 16px;
  border-radius: 0%;
  background: transparent;
  z-index: 10;
  border: none;
  border-right: 1px solid;
}

#table-filter{
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px; 
}

.text__area {
  margin: 16px 0 24px 0;
}

.text__area textarea {
  height: 142px;
  border: none;
}

.form--control,
textarea.form-control {
  color: rgba(64, 18, 117, 0.5);
  outline: none;
  padding: 14px 0 14px 38px;
  width: 100%;
  text-align: center;
}

.form--control::placeholder,
textarea::placeholder {
  color: #357dc5;
}

.form--control::placeholder,
textarea:-ms-input-placeholder {
  color: rgba(64, 18, 117, 0.5);
}

.form--control::placeholder,
textarea::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(64, 18, 117, 0.5);
}

.button.focus,
.button:focus,
.button:hover {
  color: #fff;
  background-color: #401779;
  border-color: #401779;
}

.bounce {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

@keyframes bounce {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}

footer h5 {
  margin-top: 15px;
}

#logout{
  margin-left:600px;
}

/* javascript selectors */

.js__navbar__toggler {
  display: none;
}

.CreateAccount {
  padding: 200px 0;
}

.logo--wrapper {
  height: 100px;
  width: 100px;
  background-color: #394493;
  display: flex;
  border: none;
  align-items: center;
}

.logo--wrapper img {
  height: 60px;
}

.CreateAccount__form>form .input--group--signin {
  margin-bottom: 20px;
}

form .input--group>input:nth-child(even) {
  border-right: none;
}

.ExistingUser {
  display: flex;
}

.CreateAccountFooter {
  padding: 25.5px 0;
}

.dashboard--bg--grey {
  background-color: #f5f7fa;
}

.dashboard--logo--wrapper {
  height: 80px;
  width: 80px;
   background-color: #394493; 
  display: flex;
  border: none;
  align-items: center;
  border-radius: 8px;
}

.dashboard__header {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: 0 1px 15px 1px rgba(113, 106, 202, 0.5);
  -moz-box-shadow: 0 1px 15px 1px rgba(113, 106, 202, 0.5);
  box-shadow: 0 1px 15px 1px rgba(113, 106, 202, 0.5);
}

.dashboard__navbar__header {
  width: 20%;
}

.dashboard__header__bottom ul li,
.dashboard__header a,
.dashboard__collapse ul li {
  margin: 0;
}

.dashboard__collapse {
  width: 80%;
}

.dashboard__collapse ul li:first-child {
  margin: 0 0 0 auto;
}

.notification {
  position: relative;
}

.notify {
  background-color: #f4516c;
  color: #fff;
  left: 50%;
  margin-left: -2px;
  position: absolute;
  z-index: 2;
  top: -30%;
}

.notify--dot--small {
  padding: 0;
  line-height: 4px;
  min-height: 4px;
  min-width: 4px;
  height: 4px;
  width: 4px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}

.dashboard__header__bottom ul {
  padding: 0;
}

.dashboard__header__bottom ul li:first-child {
  padding: 20px 20px 20px 0;
}

.dashboard__header__bottom ul li {
  padding: 20px 20px;
}

.dashboard__header__bottom ul li a {
  color: #fff;
}

/*  */

.active--indicator {
  display: none;
}

.active>.active--indicator {
  display: block;
}

.subheader {
  margin-top: 40px;
  display: flex;
}

.subheader>h3 {
  padding: 7px 25px 7px 0;
  border-right: 1px solid grey;
  margin: 0;
}

.subheader>ul {
  margin: 0;
  width: 180px;
  padding: 0 10px;
}

.subheader>ul>li {
  margin: 0;
  padding-top: 7px;
}

.subheader>ul>li>a {
  font-family: BryantRegular;
  font-size: 14px;
  padding: 7px;
}

.metric {
  display: flex;
  height: 192px;
  align-items: center;
  align-content: center;
  background-color: #fff;
  margin-bottom: 30px;
}

.metric,
.metric>.row>.divider--half {
  padding: 0 15px;
}

.dashboard__content {
  padding: 50px 0 0 0;
}

.card__user {
  width: 100%;
  text-align: center;
}

.card__user__pics {
  height: 80px;
  width: 80px;
  border: 2px solid #357dc5;
  border-radius: 50%;
}

.card__user__widget {
  margin: 0;
  text-align: center;
}

.CreateLoan {
  margin: 0;
  text-align: center;
}

.DashboardColor--bg--primary {
  background-color: #357dc5;
  color: #ffffff;
}

.DashboardColor--text--primary {
  color: #143BFF;
  font-size:25px;
}

.DashboardColor--text--grey {
  color: #575962;
}

.LoanDetails {
  width: 712px;
  height:430px;
  padding: 20px;
  margin-top: 50px;
  background-color: #ffffff;
  border-radius: 10px;
}

.userVerification{
   width: 900px;
  height:430px;
  padding: 20px;
  margin-top: 50px;
  background-color: #ffffff;
  border-radius: 10px;
}

.userVerification h2{
  text-align:center;
  margin-bottom:10px;
}

.currentloans{
   width: 900px;
  height:430px;
  padding: 20px;
  margin-top: 50px;
  background-color: #ffffff;
  border-radius: 10px;
}

.currentloans h2{
  text-align:center;
  margin-bottom:10px;
}

.repaidloans{
   width: 900px;
  height:430px;
  padding: 20px;
  margin-top: 50px;
  background-color: #ffffff;
  border-radius: 10px;
}

.repaidloans h2{
  text-align:center;
  margin-bottom:10px;
}

.LoanDetails h2{
  text-align:center;
  margin-bottom:10px;
}

.LoanInfo__header {
  width: 100%;
}

.LoanInfo__header__img img {
  height: 80px;
}

.LoanForm {
  display: flex;
}

.js__navbar__toggler.DashboardColor--primary {
  color: #6b459e;
  width: 50%;
  margin: 0;
}

span.js__navbar__toggler {
  font-size: 30px;
  cursor: pointer
}

.input--group.dashboard--input:first-child {
  margin-bottom: 10px;
}

.input--group.dashboard--input {
  border-radius: 10px;
  background-color: #f7f6f9;
}

.input--group.dashboard--input input {
  padding-left: 20px;
}
